###################################################################
### Warning: If you use this file, rename it to discloud.config ###
###################################################################

##################################################################################################################
### Attention: You can change the RAM according to the contracted plan (or desired quantity).                ###
### If you use a paid plan that provides at least 512MB + 0.5 vCPU, I recommend editing the .env file and    ###
### changing the value of AUTO_DOWNLOAD_LAVALINK_SERVERLIST from true to false                               ###
###                                                                                                          ###
### If you wish, you can change the NAME and AVATAR link.                                                    ###
##################################################################################################################

ID=1234567890
NAME=Muse Heart Music Source
AVATAR=https://i.ibb.co/mDrkdmb/muse.png
TYPE=bot
MAIN=main.py
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools
