######################################################################
### Warning: If you use this file, rename it to squarecloud.config ###
######################################################################

##############################################################################################################
### Attention: You can change the RAM according to the contracted plan (or desired quantity).              ###
### I recommend using a paid plan that provides at least 512MB of RAM + 0.5 vCPU and editing the .env file ###
### and change the value of AUTO_DOWNLOAD_LAVALINK_SERVERLIST from true to false                           ###
###                                                                                                        ###
### If you wish, you can change the DISPLAY_NAME, DESCRIPTION, and AVATAR link.                            ###
##############################################################################################################

DISPLAY_NAME=Muse Heart Music Source
DESCRIPTION=Music source created by: xritsu [DC ID: 184889853102653440] source link: https://github.com/zRitsu/MuseHeart-MusicBot
MAIN=main.py
MEMORY=512
VERSION=recommended
